:root {
    /* Primary */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    /* Neutral */
    --dark-grayish-red: hsl(0, 6%, 24%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px,1px,1px,1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}

input {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

html, body {
    max-width: 1440px;
    min-width: 320px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--desaturated-red);
    font-size: 16px;
    font-weight: 300;
}

body {
    background: url(../images/bg-pattern-desktop.svg) no-repeat repeat left top / 55vw 34em;

    display: grid;
    grid-template: 
        "header aside" 10vh
        "main aside" 88vh
        "footer aside" 2vh
        / 55vw 45vw
        ;

    margin: 0 auto;
}

header, main, footer {
    padding: 0 0 0 11vw;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
}

main {
    grid-area: main;
    display: flex;
    align-items: center;
}


.title {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 8px;
    font-size: 61px;
    margin-bottom: 25px;
    line-height: 1.08;
}

.title__text {
    display: block;
}

.title__text--bold {
    color: black;
    font-weight: 600;
}

.info__text {
    display: block;
    max-width: 426px;
    text-align: left;
    font-weight: 400;
    line-height: 1.6;
}

.input {
    width: 385px;
    border: 0.1px solid var(--desaturated-red);
    border-radius: 35px;
    height: 50px;
    text-align: left;
    padding-left: 27px;
    font-size: 16px;
    font: 400 16px 'Josefin Sans', sans-serif;
    color: var(--desaturated-red);
    outline: none;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 65px;
}

.input:focus {
    border: 2px solid var(--desaturated-red); 
}

.input::placeholder {
    color: var(--desaturated-red);
}

.button {
    width: 100px;
    height: 50px;
    position: relative;
    right: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    border-radius: 30px;
    border: 0.1px solid var(--desaturated-red);
    outline: none;
    box-shadow: 0 0 0, 1em 1em 4em var(--desaturated-red);
    cursor: pointer;
}

.button:hover {
    width: 110px;
    height: 55px;
}

.button:active {
    width: 110px;
    height: 55px;
}

.button__icon {
    display: block;
    width: 12px;
    height: 20px;
    background: url('../images/icon-arrow.svg') no-repeat center;
}

.icon-error {
    display: block;
    position: relative;
    right: 70px;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    background: transparent;
}

.icon-error--active {
    background: url('../images/icon-error.svg') no-repeat center;
}

.message-error {
    display: none;
    color: var(--soft-red);
    font-weight: 400;
    padding-left: 28px;
}

.message-error--visible {
    display: block;
}


aside {
    grid-area: aside;
    background: url('../images/hero-desktop.jpg') no-repeat center/cover;
}

footer {
    grid-area: footer;
}

.attribution { font-size: 8px; text-align: center; }

.attribution a {
    color: var(--dark-grayish-red);
}