@media(max-width: 1024px) {

    body {
        background: linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 100%, 98%));
        grid-template: 
            "header" 10vh
            "aside" 33vh
            "main" 55vh
            "footer" 2vh
            /100vw
            ;
    }

    .title {
        font-size: 42px;
        text-align: center;
        margin-bottom: 8px;
        line-height: 1;
    }

    .info {
        font-size: 14px;
        
    }

    .info__text {
        text-align: center;
    }

    .input {
        width: 260px;
        margin-top: 7px;
        height: 40px;
        font-size: 13px;
    }

    aside {
        background:  url(../images/hero-mobile.jpg) no-repeat center/100vw 40vh;
    }
}