@media(max-width: 1024px) {

    body {
        background: linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 100%, 98%));
        grid-template: 
            "header" 10vh
            "aside" 40vh
            "main" 48vh
            "footer" 2vh
            /100vw
            ;
    }

    main {
        padding: 0 50px;
    }

    .title {
        text-transform: uppercase;
        font-size: 42px;
        text-align: center;
    }

    aside {
        background:  url(../images/hero-mobile.jpg) no-repeat center/100vw 40vh;
    }
}